/* .header-menu {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.img-logo{
    width: 6%;
}

h1{
    display: flex;
    align-items: center;
} */